.navbar-connexion-inscription .action-connexion{
    background-color: #c4c4c4;
    color: rgb(21,25,21);
    background-color:  rgb(224,224,224);
}
.navbar-connexion-inscription .action-inscription{
    background-color: rgb(30, 115, 190);
    color: white;
    font-weight: 700;
}
.cursor{
    cursor: default;
}
.container .connexion{
    display: none;
}